.logo {
  overflow: hidden;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logo:before,
.logo:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 1;
}

.logo:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logo:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logoSlide {
  height: 70px;
  display: inline-flex;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animation1 {
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 80s;
}

.animation2 {
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 70s;
  animation-direction: reverse;
}

.animation3 {
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 100s;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 640px) {
  .logo:hover .logoSlide {
    animation-play-state: paused;
  }

  .logo:before,
  .logo:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 1;
  }
}
