@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
  --body-color: #000000;
  --big-name-padding: clamp(1.5em, 4vw, 2.5em);
  --big-name-bottom: 9.48px;

  --swiper-material-scale: 1;
  --swiper-material-slide-size: 100%;
  --swiper-material-slide-border-radius: 20px;
}

body {
  background-color: var(--body-color);
}

* {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img::selection {
  background: transparent !important;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moving-text-slider-paragraph:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.rounded-button span {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}

.rounded-button:hover span {
  color: white;
}

.second-gray a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.header-logo-transition-all {
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header-logo-transition-transform {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header-burger {
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 35%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.header-burger-active {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}

.moving-text-font-size {
  font-size: 8em;
}

.moving-text-padding-bottom {
  padding-bottom: calc(var(--gap-padding) * 1.25);
}

.page-transition-label-bg-transition {
  transition: opacity 0s linear 0.1s;
}

.letter-moving-animation {
  animation-name: letter-moving-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.animation-delay-7 {
  animation-delay: 7s;
}

.plane-animation {
  transform: translate3d(0, 0, 0);
  perspective: 500px;
  animation: 2s plane-animation infinite linear;
}

.plane-animation-container {
  animation: 2s plane-animation-container infinite linear;
}

.text-stroke {
  --tw-text-opacity: 1;
  -webkit-text-stroke: 2px rgb(255 255 255 / var(--tw-text-opacity));
}

.big-name-move-animation {
  animation-name: big-name-move-animation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.text-in-view:nth-of-type(1) {
  font-size: clamp(1.55em, 2.3vw, 2.5em);
  gap: 8px;
  line-height: 1.45;
}

.text-in-view:nth-of-type(1) span {
  margin-right: 3px;
}

.parallax-scroll-card-column:nth-of-type(1) {
  top: -45%;
}

.parallax-scroll-card-column:nth-of-type(2) {
  top: -95%;
}

.parallax-scroll-card-column:nth-of-type(3) {
  top: -40%;
}

.parallax-scroll-card-column:nth-of-type(4) {
  top: -85%;
}

@keyframes big-name-move-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes plane-animation {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
    animation-timing-function: ease-in;
  }
  10% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, -10deg) translateZ(60px) scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  20% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 30deg) translateZ(60px) scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  30% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 35deg) translateZ(60px) scale3d(1, 1, 1);
  }
  40% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 120deg) translateZ(60px) scale3d(0.7, 0.7, 1);
  }
  60% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 240deg) translateZ(60px) scale3d(0.7, 0.7, 1);
    animation-timing-function: ease-out;
  }
  80% {
    z-index: 3;
    transform: rotate3d(1, 0, 0, 360deg) translateZ(60px) scale3d(1, 1, 1);
  }
}
@keyframes plane-animation-container {
  10% {
    z-index: 3;
  }
  20% {
    z-index: 3;
  }
  30% {
    z-index: 3;
  }
  40% {
    z-index: 1;
  }
  60% {
    z-index: 1;
  }
  80% {
    z-index: 3;
  }
}
@keyframes globe-animation {
  0% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}
@keyframes letter-moving-animation {
  0% {
    width: 31px;
  }
  10%,
  40% {
    width: 84px;
  }
  50% {
    width: 31px;
  }
}
@media (min-width: 401px) {
  .moving-text-font-size {
    font-size: max(9em, 15vw);
  }

  @keyframes letter-moving-animation {
    0% {
      width: 40px;
    }
    10%,
    40% {
      width: 110px;
    }
    50% {
      width: 40px;
    }
  }
}
@media (min-width: 640px) {
  .header-logo:hover .header-logo-copyright {
    transform: rotate(360deg);
  }

  @keyframes letter-moving-animation {
    0% {
      width: 30px;
    }
    10%,
    40% {
      width: 100px;
    }
    50% {
      width: 30px;
    }
  }
}
@media (min-width: 1000px) {
  @keyframes letter-moving-animation {
    0% {
      width: 55px;
    }
    10%,
    40% {
      width: 184px;
    }
    50% {
      width: 55px;
    }
  }
}
@media (min-width: 1180px) {
  @keyframes letter-moving-animation {
    0% {
      width: 66px;
    }
    10%,
    40% {
      width: 194px;
    }
    50% {
      width: 66px;
    }
  }
}
