@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img::selection {
  background: transparent !important;
}

::-webkit-scrollbar {
  display: var(--hide-scrollbar);
  width: 10px;
  height: 10px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: padding-box;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-thumb:active {
  border: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
